# ==========================
# Python
# ==========================
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Environment
# ==========================
.env
**/.env

# ==========================
# Airflow
# ==========================
airflow/logs/
airflow/config/
airflow/plugins/

# ==========================
# dbt
# ==========================
dbt/target/
dbt/logs/
dbt_packages/

# ==========================
# Temporary data
# ==========================
data/temp/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db