# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
**/.env

# Airflow
airflow/logs/
airflow/config/
airflow/plugins/

# General logs
logs/
*.log

# dbt
dbt/target/
dbt_packages/
target/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/