# ==========================
# Data Engineering
# ==========================
apache-airflow==3.0.6

dbt-core==1.10.9
dbt-snowflake==1.10.2

snowflake-connector-python==3.17.4
snowflake-sqlalchemy==1.7.6
sqlalchemy==2.0.43

# ==========================
# Data Processing
# ==========================
pandas==2.3.2
numpy==2.3.2
scipy==1.16.1
pyarrow==21.0.0

# ==========================
# Machine Learning
# ==========================
scikit-learn==1.7.1
statsmodels==0.14.5
xgboost==3.0.4
prophet==1.1.7
joblib==1.5.2

# ==========================
# Visualization
# ==========================
matplotlib==3.10.6
plotly==6.3.0
streamlit==1.49.1

# ==========================
# Utilities
# ==========================
python-dotenv==1.1.1